#ifndef WIFI_CONFIG_H
#define WIFI_CONFIG_H

// Настройте здесь ваши данные WiFi
// Скопируйте этот файл в wifi_config.h и заполните своими данными
#define WIFI_SSID      "your_wifi_ssid"
#define WIFI_PASS      "your_wifi_password"

#endif // WIFI_CONFIG_H

