#pragma once

// Настройте здесь ваши данные WiFi
// Скопируйте этот файл в wifi_config.h и заполните своими данными
static char WIFI_SSID[] = "your_wifi_ssid";
static char WIFI_PASS[] = "your_wifi_password";
